.container {
  display: flex;
  align-items: center;
  width: 1305px;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px 10px;
  margin: auto;
}

.logo{
  display: flex;
  width: 960px;
  align-items: center;
  padding-right: 10px
}

.logo span {
  color: MediumAquamarine;
  display: flex;
  padding-left: 10px
}

.box {
  display: inline-flex;
  align-items: center;
}

div a {
  padding: 15px 15px;
  width: 100px;
  color: black;
}

.large {
  width: 630px;
  border: 1px solid black;
}

.medium {
  width: 300px;
  border: 1px solid black;
}

.small {
  width: 240px;
  border: 1px solid black;
}
