body {
  display: block;
}
.container {
  display: flex;
  align-items: center;
  width: 1305px;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  margin: auto;
}

.logo{
  display: flex;
  width: 960px;
  align-items: center;
  padding-right: 10px;
  border: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
  display: flex;
  padding-left: 10px
}

.box {
  display: inline-flex;
  align-items: center;
}

div a {
  padding: 15px 15px;
  width: 100px;
  color: black;
}

.main-content {
  display: flex;
  width: 1232px;
}

.image-content span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
}

p {
  display: block;
}

h2 {
  font-size: 30px;
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column .large {
  width: 630px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.orca .burger {
  height: 250px;
}

.image-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.lead-story .image-content {
    background-image: url(images/img-story-main.png);
    width: 630px;
}

.fall-cancelled .image-content {
  background-image: url(images/img-story-2.png);
}

.pop-culture .image-content {
  background-image: url(images/img-story-3.png);
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}

.lead-story span {
  font-size: 40px;
}
.story span {
  font-size: 30px;
}

.medium {
  width: 300px;
}

.cat-ceo .image-content {
  background-image: url(images/img-story-1.png);
}

.small {
  width: 240px;
}

div {
  display: block;
}

.story div {
  display:  block;
  justify-content: center;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  font-family: Verdana;
  font-size: 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  color: DimGray;
  padding: 11px 20px;
  text-align: left;
}
