.container {
  display: flex;
  align-items: center;
  width: 1305px;
  flex-direction: row;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  margin: auto;
}

.logo{
  display: flex;
  width: 960px;
  align-items: center;
  padding-right: 10px;
  border: 1px solid black;
}

.logo span {
  color: MediumAquamarine;
  display: flex;
  padding-left: 10px
}

.box {
  display: inline-flex;
  align-items: center;
}

div a {
  padding: 15px 15px;
  width: 100px;
  color: black;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.image-content span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 30px;
}

.large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.large div {
  border: 1px solid black;
}

.image-content {
  height: 300px;
}

.lead-story .image-content {
    background-image: url(images/img-story-main.png);
}

.fall-cancelled .image-content {
  background-image: url(images/img-story-2.png);
}

.pop-culture .image-content {
  background-image: url(images/img-story-3.png);
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.lead-story span {
  font-size: 40px;
}
.story span {
  font-size: 30px;
}

.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
  flex-direction: column;
}

.medium div {
  border: 1px solid black;
}

.cat-ceo .image-content {
  background-image: url(images/img-story-1.png);
}

.small {
  width: 240px;
  border: 1px solid black;
  flex-direction: column;
}

.small div {
  border: 1px solid black;
}

.news-bites .bite {
  display: block;
  border: 1px solid black;
  padding: 11px 20px;
  font-family: Verdana;
  font-size: 12px;
}
